@font-face {
  font-family: "Antic-Didone";
  src: url(./fonts/AnticDidone-Regular.ttf);
}

@font-face {
  font-family: "Shelley-Script";
  src: url(./fonts/ShelleyLTStd-Script.otf);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Antic-Didone, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;
  background-color: #ffffff;
  color: #121212;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: Shelley-Script;
  font-size: 4.5rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}
@media only screen and (min-width: 400px) {
  h1 {
    font-size: 5rem; 
  }
}

@media only screen and (min-width: 996px) {
  #root {
    flex-direction: row;
  }

  h1 {
    font-size: 6rem;
  }
}

#detail {
  flex:1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

#invitation {
  text-align: center;
  margin-top: 1rem;
}

@media only screen and (min-width: 996px) {
  #detail .container {
    display: flex;
    justify-content: center;
  }
}

#invitation img {
  width: 100%;
  max-height: 100vh;
}

@media only screen and (min-width: 400px) {
  #invitation {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 550px) {
  #invitation {
    margin-top: 0;
  }
}

#theme {
  text-align: center;
  margin-top: 1rem;
}

#theme>div {
  margin-bottom: 3rem;
}

#theme img {
  width: 100%;
  max-height: 100vh;
}

#theme p {
  text-align: justify;
  margin: 1rem;
}

#theme p strong {
  color: #b6480b;
}

#theme #colors {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

#theme h1 {
  margin: 1rem;
  font-size: 4rem;
}

#theme #fashion-help p,
#theme #bottom-heart p {
  text-align: center;
  margin: 2rem 3rem;
}

#theme #bottom-heart p::after {
  display: block;
  margin-top: 1rem;
  content: url(../public/heart-hands.svg);
}

@media only screen and (min-width: 400px) {
  #theme #fashion-help p,
  #theme #bottom-heart p {
    margin: 2rem 4rem;
  }
}

@media only screen and (min-width: 996px) {
  #theme {
    max-width: 60%;
  }
  
  #theme h1 {
    font-size: 5rem;
  }
}

#program {
  background-color: #566c58;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#program #reminder {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}

@media only screen and (min-width: 400px) {
  #program #reminder {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 500px) {
  #program #reminder {
    margin: 3rem 2rem 1rem 2rem;
  }
}

@media only screen and (min-width: 996px) {
  #program #reminder {
    margin-top: 6rem;
  }
}

#program #reminder::after {
  display: block;
  margin-top: 1rem;
  content: url(../public/flowers.svg);
}

#program #reminder__weekend {
  color: #d8ab3d;
  font-size: 2.5rem;
}

#program h1{
  color: #ffffff;
  text-align: center;
  margin-top: 2rem;
}

#program #locations {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  align-items: center;
}

#program #locations h2 {
  align-self: first baseline;
  max-width: fit-content;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
  background-color: #865930;
  margin-right: 4rem;
  padding: .5rem 1rem;
  border-radius: 1.5rem;
}

#program #locations .location {
  max-width: fit-content;
  font-size: 1.2rem;
  line-height: 1;
  text-align: end;
  margin-left: 4rem;
}

@media only screen and (min-width: 600px) {
  #program #locations h2 {
    margin-right: 6rem;
  }
  
  #program #locations .location {
    margin-left: 10rem;
  }
}

#program #locations .location>a::after {
  display: block;
  content: url(../public/locations-arrow.svg);
}

#program #locations .location a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

#program #locations .location a:hover {
  font-weight: bold;
}

#program p {
  margin: 0;
}

#program #saturday,
#program #sunday {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  font-size: 2rem;
}

#program .timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#program .timeline img {
  padding: 1rem;
}

@media only screen and (min-width: 500px) {
  #program .timeline img {
    padding: 1.5rem;
  }
}

@media only screen and (min-width: 800px) {
  #program #saturday .timeline {
    max-width: 90%;
  }
}

@media only screen and (min-width: 900px) {
  #program #saturday .timeline {
    max-width: 80%;
  }
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  a {
    color: #b6480b;
  }

  a:hover {
    color: inherit;
  }
}